<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>开心网</title>  
    <script type="text/javascript" src="/js/lib/dummy.js"></script> 
    <link rel="stylesheet" type="text/css" href="http://s.kaixin001.com.cn/css/kxcommon-057570f2e.css">
    <script type="text/javascript" src="http://s.kaixin001.com.cn/js/base/Haibei_Combo-000761409.js"></script>
    <script type="text/javascript" src="http://s.kaixin001.com.cn/js/kxbase-0029d51b6.js"></script>
    <script type="text/javascript" src="http://s.kaixin001.com.cn/js/kxcommon-03858b9aa.js"></script>
    <script type="text/javascript" src="http://s.kaixin001.com.cn/js/kxcommon_defer-005483ae4.js"></script>
    <script type="text/javascript" src="http://s.kaixin001.com.cn/js/core/panel/panel_common-00528e50d.js"></script>
  <!-- <link href="css.css" rel="stylesheet" type="text/css" /> -->
  <link href="http://s.kaixin002.com.cn/css/newyear.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

<a href="javascript:KXWindow.open( 'dialog01.html', 400, 195, false,null,'kxDialog kxDialogNewYear');">1</a><br />
<a href="javascript:KXWindow.open( 'dialog02.html', 680, 650, false,null,'kxDialog kxDialogNewYear');">2</a><br />
<a href="javascript:KXWindow.open( 'dialog03.html', 680, 304, false,null,'kxDialog kxDialogNewYear');">3</a><br />
<a href="javascript:KXWindow.open( 'dialog04.html', 680, 329, false,null,'kxDialog kxDialogNewYear');">4</a><br />
<a href="javascript:KXWindow.open( 'dialog05.html', 680, 419, false,null,'kxDialog kxDialogNewYear');">5</a><br />
<a href="javascript:KXWindow.open( 'dialog06.html', 680, 629, false,null,'kxDialog kxDialogNewYear');">6</a><br />

  </body>
</html>



















