<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>开心网</title>
<script type="text/javascript">var g_st_time=new Date().getTime();</script>
<script src="http://s.kaixin001.com.cn/js/base/Haibei_Combo-00092d17d.js"></script>
<link href="http://s.kaixin001.com.cn/css/kxcommon-0619db470.css" rel="stylesheet" type="text/css">
<link href="http://s.kaixin001.com.cn/css/repaste-105.css" rel="stylesheet" type="text/css">
<link href="http://s.kaixin001.com.cn/css/talk_editor-000709f00.css" rel="stylesheet" type="text/css">
<link href="http://s.kaixin001.com.cn/css/kxindex-0243e2b09.css" rel="stylesheet" type="text/css">
<link type="text/css" rel="stylesheet" href="http://s.kaixin001.com.cn/css/kxeditor_ui.css" media="all">
<script src="http://s.kaixin001.com.cn/js/kxbase-00306a08c.js" type="text/javascript"></script>
<script src="http://s.kaixin001.com.cn/js/kxcommon-038892969.js" type="text/javascript"></script>
<script src="http://s.kaixin001.com.cn/js/kxcommon_defer-005977e87.js" type="text/javascript"></script>
<script type="text/javascript">AC_FL_RunContent = 0;</script>
<script src="http://s.kaixin001.com.cn/js/kxflash-0005dca20.js" type="text/javascript"></script>
<script type="text/javascript">document.domain='kaixin001.com';</script>
<script src="http://s.kaixin001.com.cn/js/repaste-39.js" type="text/javascript"></script>
<script src="http://s.kaixin001.com.cn/js/repaste_dlg-22.js" type="text/javascript"></script>
<script type="text/javascript" src="http://s.kaixin001.com.cn/js/kxsuggest-0024ac090.js"></script>
<script type="text/javascript" src="http://s.kaixin001.com.cn/js/friend_supersuggest-001704927.js"></script>
<script src="http://s.kaixin001.com.cn/js/kxsuggest2-0031426a8.js" type="text/javascript"></script>
<script src="http://s.kaixin001.com.cn/js/kxeditorrepaste-0016b6aff.js" type="text/javascript"></script><script type="text/javascript" src="http://s.kaixin001.com.cn/js/core/panel/panel_common-0054eae2d.js"></script></head>
<body>

<link href="http://s.kaixin001.com.cn/css/app-35.css" rel="stylesheet" type="text/css" />
<link href="indexcss.css" rel="stylesheet" type="text/css" />
<div style="background:#fff;">
	<div class="popbd">
		<div class="pd30_25_0">
			<div class="overfix">
				<a class="kxAvatar_50 l mr20" style="background-image:url(http://pic1.kaixin001.com.cn/logo/28/12/50_76281265_47.jpg)" href="/home/76281265.html"></a>
				<div class="overfix">
					<p><span class="star_orange"><b style="width:80%;"></b></span></p>
					<div class="textareawrap">
						<div class="textinner">
							<textarea id="" rows="" cols="" class="textareaown">写下你的评价吧...</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tar popfoot">
		<span class="kxbtn kxbtn_s mr10"><a href="#" class="normal"><em><span><b><i>确定</i></b></span></em></a></span>
		<span class="kxbtn kxbtn_gray_s"><a href="#" class="normal"><em><span><b><i>取消</i></b></span></em></a></span>
	</div>
</div>


</body>
</html>