body{margin:0; padding:0; font-family:'\5FAE\8F6F\96C5\9ED1',"SimHei",Arial; background:#faf5f0; font-weight: 400;}
p,ul,li{margin:0; padding:0;}
li{list-style:none;}
img{display:inline-block;}
a{text-decoration:none;}




.p_head {
	display: -webkit-box;
	display: box;
	height: 46px;
	border-top:1px solid #e1656d;
	border-bottom:1px solid #c20000;
	background: #d4232e;
	-webkit-box-align:center;
	box-align:center;
}
.p_tit {
	padding-left:10px;
	-webkit-box-flex:1;
	box-flex:1;
	color:#f4f5f6;
	font-size: 16px;
	font-weight: 500;
}
.p_tit i {
	display: inline-block;
	width:44px;
	background-image: url(image/tit_sub.png);
	height: 30px;
	vertical-align: middle;
	margin-right: 18px;
	position: relative;
	vertical-align: -9px;
}
.p_tit i:after {
	content: '';
	position: absolute;
	right: -9px;
	top:2px;
	width:1px;
	height:25px;
	background: #c41821;
	box-shadow: 1px 0 0 #d0464d;
}
.btn_camera {
	display: block;
	width: 23px;
	height: 23px;
	margin:0 10px;
	color: transparent;
	overflow: hidden;
	background-image: url(image/camera.png);
}


.p_nav {
	display: -webkit-box;
	display: box;
	border-bottom: 1px solid #38b2cf;
	height: 37px;
	background: #ebebeb;
}
.p_nav a {
	-webkit-box-flex:1;
	box-flex:1;
	display: block;
	text-align: center;
	line-height: 37px;
	font-size: 15px;
	color: #999;
	margin:0 15px;
}
.p_nav a.on {
	border-bottom:2px solid #38b2cf;
	color:#38b2cf;
}



.p_loadImg{padding:8px;}
.p_list{position:relative;}
.p_list li{position:absolute; width:150px; background-size:225px auto;
	box-shadow:inset 0 0 1px rgba(0,0,0,.1);}
.p_list li .img{display:block; height:100%;}
.p_list li .bot_line{position:absolute; bottom:0; width:100%; height:40px; background:rgba(0,0,0,.6); display: -webkit-box;
display: box;
-webkit-box-align:center;
box-align:center;
line-height: 1.333;
}



.p_list li .face{display: block; margin:0 4px; width:26px; height:26px; background-size:38px 38px;
	border-radius:4px;}


.p_list li .info_box{-webkit-box-flex:1;box-flex:1; margin-right:5px;}
.p_list li .name{font-size:12px; color:#fff; display: block;}
.p_list li .p_name{font-size:12px; color:#b4b4b4; display: block;}

.p_list li .vote{width:20px; font-size:12px; color:#fff; text-align:center;margin-right: 5px;line-height: 1;}

.p_list li .vote i{display:inline-block; width:15px; height:15px; background:url(image/zan_n.png);}
.p_list li .y{color:#b4b4b4;}
.p_list li .y i{ background:url(image/zan_y.png);}



.p_banner img{box-shadow: 0 1px 0 #fff;}

.p_instr{margin:10px 10px 0; border:2px solid #ebe7e2; background:#fafafa; padding:8px 32px; font-size:12px; color:#999; line-height:1.5; text-shadow:0 1px 0 rgba(255,255,255,.75); box-shadow: 0 1px 0 #fff;}
.p_instr p{text-indent:24px;}
.p_instr p.tit{text-indent:0; color:#333;}


.p_comTit {
	height:24px;
	padding:1px 10px 0;
	line-height: 24px;
	background: #fafafa;
	border-top:1px solid #eeedeb;
	border-bottom: 1px solid #eeedeb;
	font-size: 12px;
	color: #666;
}
.p_comTit i {
	width:15px;
	height: 15px;
	display: inline-block;
	margin-right: 3px;
	background-image: url(image/news_comment.png);
	vertical-align: -4px;
}
.p_comList {
	margin:0 10px;
}
.p_comList li {
	border-bottom: 1px solid #ebe7e2;
	box-shadow: 0 1px 0 #fff;
	display: -webkit-box;
	display: box;
	padding:12px 0;
}
.p_comList .info p {
	font-size: 15px;
	color: #333;
	line-height: 1;
}
.p_comList .info p.comment_info {
	margin-top: 5px;
	line-height: 1.3;
}
.comment_nametime {
	display: -webkit-box;
	display: box;
	-webkit-box-pack:justify;
	box-pack:justify;
}
.comment_nametime .name {
	display: block;
}
.comment_nametime .time {
	color:#b4b4b4;
	font-size: 12px;
}


.p_comList .info p a {
	color:#34a3bf;
}
.face {
	width: 36px;
	height:36px;
	display: block;
	background: red;
	margin-right: 8px;
	border-radius: 3px;
	-webkit-border-radius:3px;
}


.d_box {
	display: -webkit-box;
	display: box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-align:center;
	box-align:center;
}
.box_flex1 {
	-webkit-box-flex:1;
	box-flex:1;
}
.publish_modle {
	height:50px;
	background:#faf5f0;	
}
.publish_modle .box_flex1 {
	margin-left:10px;
	border-bottom:1px solid #b4b4b4;
	padding:0 8px 8px;
	position: relative;
}
.publish_modle .box_flex1:before,.publish_modle .box_flex1:after {
	content: '';
	width: 1px;
	height: 6px;
	background: #b4b4b4;
	position: absolute;
	bottom: 0;
}
.publish_modle .box_flex1:before {
	left:0;
}
.publish_modle .box_flex1:after {
	right:0;
}

.tx_elli {
  word-wrap:normal;
  white-space: nowrap;
  overflow: hidden;  
  text-overflow: ellipsis;
}

.publish_input {
	background: transparent;
	border:0 none;
	color:#b4b4b4;
	font:15px/1 arial;
	width: 100%;
	margin:0;
	padding:0;
	font-family:'\5FAE\8F6F\96C5\9ED1',"SimHei",Arial;
 	outline: 0 none !important;
}
.publish_input:focus {
	outline: 0 none !important;
}

.bg_contain {
  -webkit-background-size:contain;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}
.btn_publish {
	width:37px;
	height: 37px;
	display: block;
	background-image:url(image/btn_publish1.png);
	margin:0 5px 0 0;
	color:transparent;
	overflow: hidden;
	background-size: 28px 28px;
}

.borderColor .publish_input {
	color:#333;
}
.publish_modle .borderColor {
	border-bottom-color: #38b2cf;
}
.publish_modle .borderColor:before,.publish_modle .borderColor:after {
	background: #38b2cf;
}
.btn_publish1 {
	background-image:url(image/btn_publish2.png);	
}






